In [1]:
import pandas as pd

In [37]:
excel_file_path = "tripinfo.xlsx"
df = pd.read_excel(excel_file_path)
df.head()

,Vehicle_ID,Depart,Arrival,Duration,Waiting Time,Departure Delay,Vehicle
0,flow_east_to_east_rickshaw.0,1,127,126,0,1.00,motorcycleDist2
1,flow_east_to_south.0,0,135,135,0,0.00,carDist2
2,flow_east_to_east.0,0,145,145,0,0.00,cngDist2
3,flow_north_to_south.4,8,146,138,0,0.00,motorcycleDist1
4,flow_south_to_north.2,5,149,144,4,0.61,carDist1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6610 entries, 0 to 6609
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Vehicle_ID       6610 non-null   object
 1   Depart           6610 non-null   int64
 2   Arrival          6610 non-null   int64
 3   Duration         6610 non-null   int64
 4   Waiting Time     6610 non-null   int64
 5   Departure Delay  6610 non-null   float64
 6   Vehicle          6610 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 361.6+ KB

In [27]:
df.describe()

            Depart      Arrival     Duration  Waiting Time  Departure Delay
count  6782.000000  6782.000000  6782.000000   6782.000000      6782.000000
mean   1642.443085  1906.162194   263.719109     25.846800         2.934210
std     970.448289   985.118416   194.065608     32.829847        25.482694
min       0.000000   126.000000   120.000000      0.000000         0.000000
25%     807.000000  1061.250000   166.000000      0.000000         0.000000
50%    1614.000000  1914.000000   196.000000     14.000000         0.030000
75%    2469.500000  2761.750000   266.750000     38.000000         0.610000
max    3449.000000  3599.000000  1607.000000    327.000000       351.000000

In [28]:
def get_direction(vehicle_id):
    parts = vehicle_id.split("_")
    direction = parts[1]
    return direction

In [39]:
df["Ingress Point"] = df["Vehicle_ID"].apply(get_direction)
df.head()

,Vehicle_ID,Depart,Arrival,Duration,Waiting Time,Departure Delay,Vehicle,Ingress Point
0,flow_east_to_east_rickshaw.0,1,127,126,0,1.00,motorcycleDist2,east
1,flow_east_to_south.0,0,135,135,0,0.00,carDist2,east
2,flow_east_to_east.0,0,145,145,0,0.00,cngDist2,east
3,flow_north_to_south.4,8,146,138,0,0.00,motorcycleDist1,north
4,flow_south_to_north.2,5,149,144,4,0.61,carDist1,south

In [40]:
directions = ["north", "south", "east", "west"]
results = {}

for direction in directions:
        # Filter the DataFrame for the current direction
        df_direction = df[df['Ingress Point'] == direction]

        # Calculate the number of vehicles
        num_vehicles = len(df_direction)

        # Calculate the metrics only if there are vehicles for the direction
        if num_vehicles > 0:
            # Calculate average travel time
            average_travel_time = df_direction['Duration'].mean()

            # Calculate average waiting time
            average_waiting_time = df_direction['Waiting Time'].mean()

            # Calculate average departure delay
            average_departure_delay = df_direction['Departure Delay'].mean()
        else:
            average_travel_time = 0
            average_waiting_time = 0
            average_departure_delay = 0

        # Store the results in the dictionary
        results[direction] = {
            'number_of_vehicles': num_vehicles,
            'average_travel_time': average_travel_time,
            'average_waiting_time': average_waiting_time,
            'average_departure_delay': average_departure_delay
        }

In [41]:
df_results = pd.DataFrame(results)
df_results["Overall Average"] = df_results.iloc[:, 1:].mean(axis=1)
df_results

,north,south,east,west,Overall Average
number_of_vehicles,2508.000000,2173.000000,1017.000000,620.000000,1270.000000
average_travel_time,304.721292,186.428900,448.266470,198.169355,277.621575
average_waiting_time,20.363238,7.727105,93.787611,18.887097,40.133938
average_departure_delay,1.705343,0.584795,0.615929,0.525113,0.575279